.swiper
	.swiper-wrapper
		.swiper-slide
			.swiper-block
				img.swiper-image(src="", alt="")
				span 1
		.swiper-slide
			.swiper-block
				img.swiper-image(src="", alt="")
				span 2
		.swiper-slide
			.swiper-block
				img.swiper-image(src="", alt="")
				span 3
		.swiper-slide
			.swiper-block
				img.swiper-image(src="", alt="")
				span 4
	.swiper-button-prev
	.swiper-button-next