doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="libs/libs.min.css")
		link(rel="stylesheet", href="css/styles.css")
		title Document
	body 
		h1 title3213asd255

	.swiper
		.swiper-wrapper
			.swiper-slide 
				span 1
			.swiper-slide
				span 2 
			.swiper-slide
				span 3 
			.swiper-slide
				span 4 
		.swiper-button-prev
		.swiper-button-next

	script(src="js/libs/libs.min.js") 
	script(src="js/main.min.js" type="module") 