doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="libs/libs.min.css")
		link(rel="stylesheet", href="css/styles-default.css" preload)
		link(rel="stylesheet", href="css/styles-mq.css")
		link(rel="stylesheet", href="css/styles.css")
		title Document

	body
		header
			h1 title3213asd255
			p hu123123



		include components/components/pictures/picture

		include components/components/swipers/swiper
		include components/components/tabs
		include components/components/accordion
		include components/components/validations/validation

		p red

		script(src="libs/libs.min.js")
		script(src="js/main.min.js" type="module")
