-
	const index_PAGE = [
		{
			section_INTRO: [
				'picture1',
				'picture2',
				'picture3',
				'picture4',
				'picture5'],
			section_ABOUT: [
				'picture1',
				'picture2',
				'picture3',
				'picture4',
				'picture5'
				]
			}
	];
