%svg-common {
    background: url("svg/sprite.view.svg") no-repeat;
}

.svg-Artboard_2 {
    @extend %svg-common;
    background-position: 0 0;
}

.svg-Artboard_2-dims {
    width: 50.18px;
    height: 52px;
}

.svg-Artboard_4 {
    @extend %svg-common;
    background-position: 49.77187066058322% 0;
}

.svg-Artboard_4-dims {
    width: 50.18px;
    height: 52px;
}

.svg-Artboard_6 {
    @extend %svg-common;
    background-position: 99.54374132116644% 0;
}

.svg-Artboard_6-dims {
    width: 50.18px;
    height: 52px;
}

.svg-Artboard_7 {
    @extend %svg-common;
    background-position: 0 100%;
}

.svg-Artboard_7-dims {
    width: 50.18px;
    height: 52px;
}

.svg-Artboard_9 {
    @extend %svg-common;
    background-position: 49.77187066058322% 100%;
}

.svg-Artboard_9-dims {
    width: 50.18px;
    height: 52px;
}

