.accordion
	.accordion__item
		a(href="#").accordion__title.js-faq-title
			.accordion__spoiler.faq__spoiler.js-faq-rotate
				span.accordion__symbol +
			.accordion__text Заголовок 1
		.accordion__content.js-faq-content
			| Здесь контент<br/>
			| Здесь контент<br/>
			| Здесь контент<br/>

.accordion
	.accordion__item
		a(href="#").accordion__title.js-faq-title
			.accordion__spoiler.faq__spoiler.js-faq-rotate
				span.accordion__symbol +
			.accordion__text Заголовок 2
		.accordion__content.js-faq-content
			| Здесь контент<br/>
			| Здесь контент<br/>
			| Здесь контент<br/>