.accordion-wrap.js-accordion-wrap
	.accordion.js-accordion
		.accordion__head.js-accordion-head
			.accordion__wrapper.accordion__btn.js-accordion-open
				h3.accordion__title(data-accordion="content-1") Section 1

		.accordion__content.js-accordion-content
			.accordion__descr.js-accordion-descr
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, itaque quidem? Nemo sint odio dicta ab nobis hic, tempore nulla commodi, aspernatur aliquam qui architecto iste atque, veniam ipsa labore.1111
	.accordion.js-accordion
		.accordion__head.js-accordion-head
			.accordion__wrapper.accordion__btn.js-accordion-open
				h3.accordion__title(data-accordion="content-2") Section 2
		.accordion__content.js-accordion-content
			.accordion__descr.js-accordion-descr
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, itaque quidem? Nemo sint odio dicta ab nobis hic, tempore nulla commodi, aspernatur aliquam qui architecto iste atque, veniam ipsa labore.222
	.accordion.js-accordion
		.accordion__head.js-accordion-head
			.accordion__wrapper.accordion__btn.js-accordion-open
				h3.accordion__title(data-accordion="content-3") Section 3

		.accordion__content.js-accordion-content
			.accordion__descr.js-accordion-descr
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, itaque quidem? Nemo sint odio dicta ab nobis hic, tempore nulla commodi, aspernatur aliquam qui architecto iste atque, veniam ipsa labore.333