.tabs.js-tabs
	ul.tabs__header
		li.tabs__btn.active(data-tab="tab-one") One
		li.tabs__btn(data-tab="tab-two") Two
		li.tabs__btn(data-tab="tab-three") Three
	.tabs__content.active(data-content="tab-one")
		.tabs__item text1
		.tabs__item text2
		.tabs__item text3
	.tabs__content(data-content="tab-two")
		.tabs__item text11
		.tabs__item text22
		.tabs__item text33
	.tabs__content(data-content="tab-three")
		.tabs__item text13
		.tabs__item text23
		.tabs__item text33

