.js-tabs.tabs
	ul.tabs__header
		li.tabs__btn.active(data-tab="tab-one") One
		li.tabs__btn(data-tab="tab-two") Two
		li.tabs__btn(data-tab="tab-tree") Three
	.tabs__content.active(data-content="tab-one")
		ul
			li text1
			li text1
			li text1
			li text1
	.tabs__content(data-content="tab-two")
		ul
			li text2
			li text2
			li text2
			li text2
	.tabs__content(data-content="tab-three")
		ul
			li text3
			li text3
			li text3
			li text3