.container
	.header
		h2 Create Account

	form(action="" class="form" id="form-registration" name='registration')
		.form-control
			label Username
			input(type="text" placeholder="Your username" id="username-registration" data-name='name')
			span
			small Error message

		.form-control
			label Email
			input(type="email" placeholder="Your Email" id="email-registration" data-name='email')
			span
			small Error message

		.form-control
			label Password
			input(type="password" placeholder="Your password" id="password-registration" data-name='password')

			span.icon(id="show-registration" data-name='show' onclick="togglePassword()")
				svg
					use(xlink:href="icons-svg/sprite.svg#password--eyePassword")
			span.icon(id="hide-registration" data-name='hide'  onclick="togglePassword()")
				svg
					use(xlink:href="icons-svg/sprite.svg#password--eyePasswordClose")

			small Error message

		.form-control
			label Confirm
			input(type="password" placeholder="Your password again" id="passwordConfirm-registration" data-name='passwordConfirm')
			span.icon(id="showConfirm-registration" data-name='showConfirm'  onclick="toggleConfirm()")
				svg
					use(xlink:href="icons-svg/sprite.svg#password--eyePassword")
			span.icon(id="hideConfirm-registration"
			data-name='hideConfirm' onclick="toggleConfirm()")
				svg
					use(xlink:href="icons-svg/sprite.svg#password--eyePasswordClose")
			small Error message

		button Submit