//-!  ПУТИ до картинок
-
	const pathsContent= [
		{
			avatar:  "img/content/avatar/avatar",
			decor: "img/decor/",
		}
	]

//-!  НАЗВАНИЕ картинок

// - let _paths = ''

// each path in paths
// 	each folder in path
// 		_paths= folder


